@charset "UTF-8";

/* || GENERAL STYLES */
/* Colors */
:root {
  --color-base: #eac375;
  --color-main: #3b5e92;
  --color-accent: #8f9eb5;
  --color-body-bg: #ffffff;
  --color-body-txt: #000000;
  /* --color-btn-bg: #e9654b;
  --color-btn-bg-hover: #ffffff;
  --color-btn-txt: #ffffff; */
}

html {
  /* 1rem = 10pxに設定する */
  font-size: 62.5%;
  /* リンク内スクロール */
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-body-bg);
  color: var(--color-body-txt);
  font-size: 1.6rem;
  font-family: "Yu Mincho", "YuMincho", serif;
}

/* || SITEWIDE */
a {
  text-decoration: none;
}
img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}
li {
  list-style: none;
}

/* || UTILITIES */

/* || Tab Styles */
/*tabの形状*/
.tab{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-bottom: 1px solid black;
}
.icon-before-tab {
  display: block;
  box-sizing: border-box;
  /* background:#ddd; */
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 1em 2em;
  color: black;
  position: relative;
  font-size: 1.8rem;
}
.tab li:last-child a {
  border-right: 1px solid black;
}
.icon-before-tab:before {
  display: inline-block;
  margin-right: .5em;
content: "";
width: 1.8rem;
height: 1.8rem;
background-size: contain;
}

/*liにactiveクラスがついた時の形状*/
.tab li.active a::after{
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 6px;
  background-color: white;
}
/* || Checkbox Styles */
/*リセット */
input[type="checkbox"]  {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* チェックボックスデザイン */
.checkbox {
  width: 100%;
  height: 60px;
  background-color: var(--color-accent);
}
input[type="checkbox"] {
  cursor: pointer;
  padding-left: 30px;/*label手前にチェックボックス用の余白を開ける*/
  vertical-align: middle;
  position: relative;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  display: block; 
  position: absolute;
}
input[type="checkbox"]::before {
  background-color: var(--color-accent);
  border-radius: 0%;
  border: 1px solid white;
  width: 30px;/*チェックボックスの横幅*/
  height: 30px;/*チェックボックスの縦幅*/
  transform: translateY(-50%);
  top: 20px;
  left: 25px;
}
input[type="checkbox"]::after {
  border-bottom: 2px solid white;/*チェックの太さ*/
  border-left: 2px solid white;/*チェックの太さ*/
  opacity: 0;/*チェック前は非表示*/
  height: 6px;/*チェックの高さ*/
  width: 11px;/*チェックの横幅*/
  transform: rotate(-45deg);
  top: -7px;/*チェック時の位置調整*/
  left: 10px;/*チェック時の位置調整*/
}
input[type="checkbox"]:checked::after {
  opacity: 1;/*チェック後表示*/
}



/* || Dropdown Styles */
.dropdown {
width: 100%;
height: 60px;
color: white;
  background-color: var(--color-accent);
  display: inline-block;
  padding: 1em;
}
/* Select要素には疑似要素が当てられないので親要素から当てる必要がある */
li:has(>.dropdown) {
  position: relative;
}
li:has(>.dropdown)::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(135deg);
position: absolute;
right: 35px;
top: calc(50% + 5px);
pointer-events: none;
}

/* || Button Styles */
.search-button {
  position: relative;
  display: inline-block;
  padding: 2em 3em;
  /* width: 346px; */
  border-radius: 22px;

  color: white;
  background-color: var(--color-base);
}
.search-button::before {
  display: inline-block;
  margin-right: .5em;
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background-size: contain;
  background-image: url(../img/Frame.svg);
  transform: translateY(30%);
}



.btn04 {
  /*線の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  padding: 10px 30px;
  width: 400px;
  height: 60px;
  color: #333;
  border: 1px solid #ccc;
  text-decoration: none;
  outline: none;
  /*はみ出す背景色を隠す*/
  overflow: hidden;
}

/*hoverした際のボタンの形状*/
.btn04:hover {
  color: #ccc;
  border-color: transparent;
  /*色の変化を遅らせる*/
  transition-delay: 0.6s;
}

/*線の設定*/
.btn04 span {
  position: absolute;
  display: block;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 10px 30px 0px 28px;
  width: 398px;
  height: 58px;
  /* border: 1px solid red; */
}

/*== 線から塗に変化（左から右） */

/*線の設定*/
.borderleft span::before,
.borderleft span::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  width: 0;
  height: 1px;
  /*線の形状*/
  background: #333;
  /*アニメーションの設定*/
  transition: all 0.3s;
}

/*左上線*/
.borderleft span::before {
  left: 0;
  top: 0;
}

/*左下線*/
.borderleft span::after {
  left: 0;
  bottom: 0;
}

/*hoverをすると線が伸びる*/
.borderleft:hover span::before,
.borderleft:hover span::after {
  width: 100%;
}

/*背景の設定*/
.borderleft::before {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  /*背景の形状*/
  height: 100%;
  width: 0;
  background: #333;
  /*アニメーションの設定*/
  transition: all 0.3s;
}

/*hoverをすると背景が伸びる*/
.borderleft:hover::before {
  width: 100%;
  /*0.4秒遅れてアニメーション*/
  transition-delay: 0.4s;
}

/* || Card Styles */
.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.card__img-wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.card__img {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.card__body {
  padding: 15px;
}
.card__body > *:last-child {
  margin-bottom: 0;
}
.card__title {
  margin-bottom: 5px;
  font-size: 1.125rem;
  font-weight: bold;
}
.card__txt {
  color: #777;
}
/* || SLIDER  */

/* || ANIMATIONS  */
