@media screen and (max-width: 575px) {
  .tab__page::before{
    display: none;
  }
  .tab__page {
    text-align: center;
  }
  .tab__wrapper {
    --min-size_mt: 43;
    --max-size_mt: 68;
    --min-viewport: 320;
    --max-viewport: 575;
  top: calc(100vh - var(--fluid-size_mt));
  }
  .tab__wrapper.is-active {
  transform: translateY(-80%);
  }


}
@media screen and (max-width: 700px) {
  .header__char--l {
    display: none;
  }
  .header__char--s {
    display: block;
    --min-size: 10;
    --max-size: 18;
    --min-viewport: 320;
    --max-viewport: 700;
    font-size: var(--clamp-size);
  }
  .header__search p {
    margin-top: 5%;
  } 
}

@media screen and (max-width: 767px) {
  .expansion {
    animation: fadeInAnime 0.5s ease-in;
    animation-fill-mode:forwards;
  }

}






@media screen and (min-width: 768px) {

  *, *::before, *::after {
    --min-size: 14;
    --max-size: 44;
    --min-viewport: 750;
    --max-viewport: 1920;
  }


  .section__title {
    /* font-size: clamp(3.6rem, 2.3vw, 4.4rem); */
    --min-size: 36;
    --max-size: 44;
    /* font-size: var(--clamp-size); */
  }
  .section__subtitle {
    /* font-size: clamp(2.2rem, 1.3vw, 2.4rem); */
    --min-size: 22;
    --max-size: 24;
    /* font-size: var(--clamp-size); */
  }
  .content__title {
    /* font-size: clamp(2.8rem, 1.7vw, 3.2rem); */
    --min-size: 28;
    --max-size: 32;
    /* font-size: var(--clamp-size); */
  }

  .main-button {
    min-width: 352px;
    width: calc( 0.0444 * 100vw + 267px);
    min-height: 95px;
    --min-size_h: 81;
    --max-size_h: 95;
    height: var(--clamp-size_h);
    --min-size: 28;
    --max-size: 32;
    font-size: var(--clamp-size);
  }
  .bgLRextend::before{
    min-width: 352px;
    width: calc( 0.0444 * 100vw + 267px);
    min-height: 95px;
    --min-size_h: 81;
    --max-size_h: 95;
    height: var(--clamp-size_h);
  }

  .header__container {
    overflow: hidden;
  }
  .header-set.LeftMove{
    pointer-events: all;
    animation: LeftAnime 0.5s forwards;
  }
  
  @keyframes leftAnime{
    from {
      opacity: 0;
      right: -9vw;
    }
    to {
      opacity: 1;
      right: 0;
    }
  }
  .header-set.RightMove{
    pointer-events: none;
    animation: RightAnime 0.5s forwards;
  }
  @keyframes RightAnime{
    from {
      opacity: 1;
right: 0;
    }
    to {
      opacity: 0;
right: -9vw;
    }
  }
  .header__search {
    position: fixed;
    width: 7.8vw;
    height: 7.8vw;
    top: 7.8vw;
    /* bottom: 0; */
right: 0;
  }
.header__lang {
  display: block;
  width: 7.8vw;
  height: 7.8vw;
  position: fixed;
  top: 15.6vw;
  right: 0;
  z-index: 999;
  background-color: var(--color-accent);
}
.header__lang img {
  width: 3.2vw;
  margin-top: 1.3vw;
}
.header__search p {
  /* font-size: clamp(1.4rem, 1.9vw, 1.6rem); */
  --min-size: 12;
  --max-size: 16;
  --min-viewport: 1200;
  --max-viewport: 1920;
  font-size: var(--clamp-size);
}
.header__logo {
  position: absolute;
  top: 0;
  left: 5.73%;
  width: 12.2%;
}
.openbtn {
  width: 7.8vw;
  height: 7.8vw;
}


.header__lang p {
  color: white;
  --min-size: 10;
  --max-size: 20;
  font-size: var(--clamp-size);
}

  .header__search p {
    /* font-size: clamp(1.4rem, 1.9vw, 1.6rem); */
    --min-size: 12;
    --max-size: 24;
    font-size: var(--clamp-size);
    margin-top: 5%;
  }

  .header__char--s {
    display: block;
  }
  .header__char--l {
    display: none;
  }
  .header__menu p {
    /* font-size: clamp(1.6rem, 0.94vw, 1.8rem); */
    --min-size: 10;
    --max-size: 18;
    font-size: var(--clamp-size);
  }





  #g-navi {
    background-image: url(../img/menu_pc.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .menu__logo {
    width: 14%;
  }
  .menu__left > li,
  .menu__right li {
    --min-size_h: 90;
    --max-size_h: 40;
    --min-viewport: 750;
    --max-viewport: 1200;
    height: var(--fluid-size_h);

  }
  .menu__left > li:not(:last-child)::before,
  .menu__right li:not(:last-child)::before {
    --min-size_h: 105;
    --max-size_h: 40;
    --min-viewport: 750;
    --max-viewport: 1200;
    top: var(--fluid-size_h);

  }

  .menu__mainbox {
    --min-size: 30;
    --max-size: 30;
    font-size: var(--clamp-size);
  }
  .menu__cuisinelist {
    --min-size: 24;
    --max-size: 24;
    font-size: var(--clamp-size);
  }
.menu__button{
  --min-size: 24;
  --max-size: 28;
  font-size: var(--clamp-size);
}
.menu__lang {
  --min-size: 22;
  --max-size: 24;
  font-size: var(--clamp-size);
}
.menu__reservationButton, 
.menu__cancelButton {
  --min-size: 24;
  --max-size: 24;
  font-size: var(--clamp-size);
}



.mainvisual {
  padding-top: 56.25%;
}

  .tab li {
    --min-size_mt: 225;
    --max-size_mt: 269;
    width: var(--clamp-size_mt);
    /* width: 14%; */
  }
  .tab__page {
    /* font-size: clamp(1.8rem, 1vw, 2rem); */
    --min-size: 18;
    --max-size: 20;
    font-size: var(--clamp-size);
  }

  .gnavi__list-1,
.gnavi__list-2,
.gnavi__list-3 {
    /* font-size: clamp(1.8rem, 1vw, 2rem); */
    --min-size: 18;
    --max-size: 20;
    font-size: var(--clamp-size);
}
.tab__search {
    /* font-size: clamp(2.2rem, 1.3vw, 2.4rem); */
    --min-size: 22;
    --max-size: 24;
    font-size: var(--clamp-size);
}

.tab__wrapper {
  --min-size_h: 17;
  --max-size_h: 25;
  top: calc(100vh - 4.3em - var(--fluid-size_h));
}
.tab__wrapper.is-active {
  transform: translateY(-72%);
  }



  .card__date {
    /* font-size: clamp(2rem, 1.1vw, 2.2rem); */
    --min-size: 20;
    --max-size: 22;
    font-size: var(--clamp-size);
  }
  .card__title {
    /* font-size: clamp(1.8rem, 1vw, 2rem); */
    --min-size: 18;
    --max-size: 20;
    font-size: var(--clamp-size);
  }
  .card__text {
    /* font-size: clamp(1.4rem, 0.8vw, 1.6rem); */
    --min-size: 14;
    --max-size: 16;
    font-size: var(--clamp-size);
  }


  .story__box {
    --box-width: 159.2rem;
    --box-height: 59rem;
    --img-url: url(../img/story_pc.webp);

  }






  .story__image {
    margin-top: 5%;
    --min-size_w: 700;
    --max-size_w: 1162;
    --min-viewport: 750;
    --max-viewport: 1400;
    width: var(--clamp-size_w);
    --min-size_h: 589;
    --max-size_h: 430;
    --min-viewport: 750;
    --max-viewport: 1400;
    height: var(--clamp-size_h);
    overflow: hidden;
  }

  .story__content {
    width: 100%;
    --min-size: 20;
    --max-size: 22;
    font-size: var(--clamp-size);
  }
  .story__buttonWrapper {
    --min-size_mt: 66;
    --max-size_mt: 66;
    --min-viewport: 750;
    --max-viewport: 1400;
    margin-top: var(--fluid-size_mt);
  }


  .cuisine__flex {

    --min-size: 22;
    --max-size: 24;
    font-size: var(--clamp-size);
  }
  .cuisine__banner {
    bottom: 0.5vw;
    height: 3em;
    line-height: 3em;
  }
  .cuisine__restaurant {
    position: absolute;
    left: 0;
    bottom: 3%;
    min-width: 80%;
    height: 8rem;
    text-align: center;
    line-height: 8rem;
    padding: 0 0.5em;
  }

  .cuisine__wrapper {
    width: 100%;
    margin-top: 9%;
  }
  .cuisine__grid {
  grid-template-columns: 29vw 29vw 29vw;
  grid-template-rows: 22vw 22vw;
  gap: 1vw 1vw;
  margin: 3.5% auto;
  max-width: 91vw;
  }
  .cuisine__img {
    /* width: 28vw; */
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      filter: grayscale(80%);
    
    }
    .cuisine__grid:has(.cuisine__img--ad:hover) {
      grid-template-columns: 39vw 24vw 24vw;
      grid-template-rows: 33vw 11vw;
    }
    .cuisine__grid:has(.cuisine__img--br:hover) {
      grid-template-columns: 24vw 24vw 39vw;
      grid-template-rows: 33vw 11vw;
    }
    .cuisine__grid:has(.cuisine__img--tp:hover) {
      grid-template-columns: 24vw 39vw 24vw;
      grid-template-rows: 11vw 33vw;
    }
    .cuisine__grid:has(.cuisine__img--lb:hover) {
      grid-template-columns: 24vw 39vw 24vw;
      grid-template-rows: 33vw 11vw;
    }
    .cuisine__grid:has(.cuisine__img--ch:hover) {
      grid-template-columns: 39vw 24vw 24vw;
      grid-template-rows: 11vw 33vw;
    }
    .cuisine__grid:has(.cuisine__img--jp:hover) {
      grid-template-columns: 24vw 24vw 39vw;
      grid-template-rows: 11vw 33vw;
    }




  .special__wrapper {
    margin-top: 8vw;
    background-image: url(../img/special_bg-pc.webp);
    background-position: top left;
    --min-size_w: 627;
    --max-size_w: 1162;
    --min-size_h: 969;
    --max-size_h: 707;
    --min-viewport: 750;
    --max-viewport: 1400;
    background-size: var(--fluid-size_w) var(--fluid-size_h);
    /* background-size: 627px 969px; */
    /* background-size: 83% 100%; */
    background-repeat: no-repeat;
  }
  .special__wrapper::before {
    content: "";
    display: block;
    --min-size_h: 969;
    --max-size_h: 707;
    --min-viewport: 750;
    --max-viewport: 1400;
    padding-top: calc(var(--fluid-size_h) );
  }
  .special__title {
    top: 0;
    left: 37%;
    --min-size_mt: 57;
    --max-size_mt: 50;
    --min-viewport: 750;
    --max-viewport: 1400;
    padding-top: var(--fluid-size_mt);
  }
  .special__box {
    --box-width: 159.2rem;
    --box-height: 59rem;
    --img-url: url(../img/Special_floor-pc.webp);

  }
  .special__image {
    --min-size_w: 657;
    --max-size_w: 1162;
    --min-size_h: 589;
    --max-size_h: 430;
    --min-viewport: 750;
    --max-viewport: 1400;
    width: var(--fluid-size_w);
    height: var(--fluid-size_h);
    margin: 4vw 0 0 auto;
    overflow: hidden;
  }
  .special__image img {
    --min-size_w: 657;
    --max-size_w: 1162;
    --min-size_h: 589;
    --max-size_h: 430;
    --min-viewport: 750;
    --max-viewport: 1400;
    width: var(--fluid-size_w);
    height: var(--fluid-size_h);
    /* width: 100%; */
    /* height: auto; */
    object-fit: cover;
    object-position: center;
  }
  .special__container {
    --min-size_mt: 0;
    --max-size_mt: 81;
    --min-viewport: 750;
    --max-viewport: 1400;
    right: var(--fluid-size_mt);
    right: 0;
    width: 90%;

  
  }
  .special__content-title {
    --min-size_mt: 88;
    --max-size_mt: 52;
    --min-viewport: 750;
    --max-viewport: 1400;
    margin-top: var(--fluid-size_mt);

  }
  .special__content {
    --min-size_mt: 48;
    --max-size_mt: 35;
    --min-viewport: 750;
    --max-viewport: 1400;
    margin-top: var(--fluid-size_mt);

    /* margin-top: 9%; */
    /* font-size: clamp(2rem, 1.1vw, 2.2rem); */
    --min-size: 20;
    --max-size: 22;
    font-size: var(--clamp-size);
    text-align: right;
  }
  .special__content--pc-br {
    display: block;
  }
  .special__button {
    --min-size_mt: 100;
    --max-size_mt: 25;
    --min-viewport: 750;
    --max-viewport: 1400;
    margin-top: var(--fluid-size_mt);

  }
  .special__content--pc-br {
    display: none;
  }
  
  .fitness__description {
    /* font-size: clamp(1rem, 3vw, 2.2rem); */
    --min-size: 22;
    --max-size: 22;
    font-size: var(--clamp-size);
    text-align: center;
  }
  .fitness__gallery {
    --min-size_mt: 830;
    --max-size_mt: 1290;
    --min-viewport: 750;
    --max-viewport: 1400;
    top: var(--fluid-size_mt);
  }
.wedding__wrapper {
  margin-top: 33vw;
  width: 73%;
  margin-left: 6%;
}
.wedding__title {
  top: 3%;
  left: 3%;
  padding: 2% 2%;
}
.wedding__chapel {
  position: absolute;
  width: 64%;
  bottom: -5%;
  left: 57%;
  transform-origin: center;
}

.event__wrapper {
  margin-top: 9%;
  background-image: url(../img/event_bg_pc.webp);
  background-position: top right;
  --min-size_w: 627;
  --max-size_w: 1204;
  --min-size_h: 969;
  --max-size_h: 707;
  --min-viewport: 750;
  --max-viewport: 1400;
  background-size: var(--fluid-size_w) var(--fluid-size_h);
  background-repeat: no-repeat;
}
.event__wrapper::before {

  --min-size_h: 969;
  --max-size_h: 707;
  --min-viewport: 750;
  --max-viewport: 1400;
  padding-top: calc(var(--fluid-size_h) );
}
.event__title {
  left: 36%;
  --min-size_mt: 57;
  --max-size_mt: 50;
  --min-viewport: 750;
  --max-viewport: 1400;
  padding-top: var(--fluid-size_mt);
}
.event__box {
  --box-width: 159.2rem;
  --box-height: 59rem;
  --img-url: url(../img/event_pc.webp);

}
.event__image {
  --min-size_w: 657;
  --max-size_w: 1162;
  --min-size_h: 589;
  --max-size_h: 430;
  --min-viewport: 750;
  --max-viewport: 1400;
  width: var(--fluid-size_w);
  height: var(--fluid-size_h);
  margin: 4vw auto 0 0;
  overflow: hidden;
  
}
.event__image img {
  --min-size_w: 657;
  --max-size_w: 1162;
  --min-size_h: 589;
  --max-size_h: 430;
  --min-viewport: 750;
  --max-viewport: 1400;
  width: var(--fluid-size_w);
  height: var(--fluid-size_h);
  /* width: 100%; */
  /* height: auto; */
  object-fit: cover;
  object-position: center;
}
.event__container {
  top: 0;
  left: 0%;
  width: 90%;
  height: 100%;
  padding: 0 11% 0 11%;
}
.event__content-title {
  --min-size_mt: 88;
  --max-size_mt: 52;
  --min-viewport: 750;
  --max-viewport: 1400;
  margin-top: var(--fluid-size_mt);
}
.event__content {
  --min-size_mt: 56;
  --max-size_mt: 35;
  --min-viewport: 750;
  --max-viewport: 1400;
  margin-top: var(--fluid-size_mt);
  /* margin-top: 7%; */
  /* font-size: clamp(2rem, 1.1vw, 2.2rem); */
  --min-size: 20;
  --max-size: 20;
  font-size: var(--clamp-size);
}
.event__button {
  --min-size_mt: 100;
  --max-size_mt: 18;
  --min-viewport: 750;
  --max-viewport: 1400;
  margin-top: var(--fluid-size_mt);


}
/* || Scroll Styles  */
.scroll {
  width: 2.5vw;
  height: 2.5vw;
  margin: 5vw auto 0;
}

.footer__caption {
  /* width: 30%; */
  --min-size_w: 585;
  --max-size_w: 576;
width: var(--fluid-size_w);
  margin: 2% auto 1.5%;
  font-size: 1.6rem;
  --min-size: 16;
  --max-size: 14;
  font-size: var(--clamp-size);
}
.footer__info {
  padding: 2%;
}
.footer__info::before {
  top: 0.5vw;
}
.footer__info:last-child::after {
  top: 0.5vw;
}
.footer__sns {
  width: 17.5%;
  width: 336px;
  margin-top: 0;
}
.footer__last {
  padding: 2vw 6vw 2vw 6vw;
  margin-top: 4%;
}
.footer__logo {
  width: 15%;
}

}
@media screen and (min-width: 900px) {
  .br--sp {
    display: none;
  }
}

@media screen and (min-width: 1000px) {



  .tab__wrapper.is-active {
    transform: translateY(-60%);
    }
  .gnavi__list-1,
.gnavi__list-2,
  .gnavi__list-3 {
    justify-content: space-between;
  }

  .calendar-container {
    width: 30vw;
    height: 96px;
  }
  .checkbox__container {
    width: 96px;
    height: 96px;
  }
  input[type="checkbox"] {
    padding-left: 28px;
  }
  input[type="checkbox"]::before {
    width: 40px; /*チェックボックスの横幅*/
    height: 40px; /*チェックボックスの縦幅*/
  }
  input[type="checkbox"]::after {
    width: 50px;
    height: 50px;
  }

  .dropdown {
    height: 96px;
  }
  .ticket__children--dropdwon,
  .ticket__adults--dropdown,
  .ticket__duration--dropdown,
  .stay__rooms--dropdown,
  .stay__children--dropdown,
  .stay__adults--dropdown,
  .stay__duration--dropdown {
    width: 20vw;
  }
  li:has(> .dropdown)::after {
    width: 1vw;
    height: 1vw;
    right: 2vw;
    top: 55%;
  }

  .ticket__departure--dropdwon {
    width: 30vw;
    padding-left: 1em;
  }
  .restaurant__site--dropdown {
    width: 30vw;
    padding-left: 1em;
  }
  .restaurant__time--dropdown {
    width: 22vw;
    padding-left: 1em;
  }
  .restaurant__children--dropdown,
  .restaurant__adults--dropdown {
    width: 22vw;
  }
  .tab__search {
    margin-top: 1.3em;
    width: 30vw;
    height: 96px;
  }
  .search-button {
    /* padding: 0.4em 2em 0.8em; */
    width: 30vw;
    height: 96px;
  }

  .stay__rooms {
    margin-right: auto;
  }
  .ticket__children {
    margin-right: auto;
  }

}


@media screen and (min-width: 1200px) {

  .menu__flex {
    flex-direction: row;
    justify-content: space-between;
    /* gap: 5vw; */
    width: 75%;
    margin: 12vw auto;
  }
.menu__mainbox {
  width: 70%;
  justify-content: left;
}
.menu__others {
  flex: 1;
}
.menu__right {
  margin-left: 5vw;
}

  .menu__left,
.menu__right {
  gap: 20px;
  width: 100%;
}
.menu__left > li,
.menu__right li {
  height: 3.3vw;
}
.menu__left > li:not(:last-child)::before,
.menu__right li:not(:last-child)::before {
  top: 3vw;
  width: 19vw;

}

.menu__button {
  flex-direction: column;
  gap: 1vw 0;

}
.menu__lang {
flex-direction: column;

  margin-top: 10%;
  margin-left: 10%;
}
.menu__reservationButton, 
.menu__cancelButton {
  padding: 1em 10px;
  width: 100%;

}


}



@media screen and (min-width: 1400px) {
  
  .topics__wrapper {
    grid-template-columns: 2fr 6fr;
    column-gap: 3%;
    min-height: 78vh;
  }
  .topics__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 30%;
  }
  .topics__slider {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-left: 0;
    padding-bottom: 5vw;
    /* margin-bottom: 5vw; */
  }
  .topics__grid--3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: -3%;
  }
  .topics__grid--3,
  .topics__title {
    padding-left: 3vw;
  }
  .topics__card {
    width: 30%;
    min-height: 50vh;
    /* margin-right: -8vw;
    margin-left: 12vw; */
    /* margin-right: 28vw; */
    /* margin-left: -24vw; */
    margin-right: 0;
margin-left: 4vw;
/* margin-left: 4vw; */
    background-color: white;
    /* transform: translateX(10vw); */
  }
  .card.is-selected + .card {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none;
  }

 
  .flickity-page-dots {
    --min-size_mt: 28;
    --max-size_mt: 28;
    --min-viewport: 1400;
    --max-viewport: 1920;
    bottom: var(--fluid-size_mt);
    left: -10vw;
  }
  .flickity-page-dots .dot {
    width: 0.6vw;
    height: 0.6vw;
  }
  .flickity-page-dots .dot.is-selected {
    width: 1vw;
    height: 1vw;
  }

  .story__image {
    margin-top: 3%;
    width: 83%;
    height: auto;
  }
  .story__container {
    top: 0;
    left: 7%;
    width: 72%;
    height: 100%;
  }
  .story__inner {
    margin-top: 8%;
    margin-left: 15%;
  }
  .story__buttonWrapper {
    --min-size_mt: 25;
    --max-size_mt: 100;
    --min-viewport: 1400;
    --max-viewport: 1920;
    margin-top: var(--fluid-size_mt);
  }

  .special__wrapper {
    margin-top: 7%;
    background-image: url(../img/special_bg-pc.webp);
    background-position: top left;
    background-size: 83% 100%;
    background-repeat: no-repeat;
  }
  .special__wrapper::before {
    content: "";
    display: block;
    padding-top: 50.47%;
  }
  .special__title {
    top: 0;
    left: 44%;
    padding-top: 2%;
  }
  .special__image {
    width: 83%;
    height: auto;
    margin: 2vw 0 0 auto;
  }
  .special__image img {
    width: 100%;
    height: auto;
  }
  .special__container {
    top: 0;
    right: 7%;
    width: 72%;
    height: 100%;
    padding: 0 11% 0 11%;
  }
  .special__content-title {
    margin-top: 11%;
  }
  .special__content {
    margin-top: 6%;
  }
  .special__button {
    --min-size_mt: 48;
    --max-size_mt: 84;
    --min-viewport: 1400;
    --max-viewport: 1920;
    margin-top: var(--fluid-size_mt);
    
  }

  .event__wrapper {
    margin-top: 9%;
    background-image: url(../img/event_bg_pc.webp);
    background-position: top right;
    background-size: 86% 100%;
    background-repeat: no-repeat;
  }
  .event__wrapper::before {
    padding-top: 50.47%;
  }
  .event__title {
    left: 42%;
    padding-top: 2%;
  }
  .event__image {
    width: 83%;
    height: auto;
    margin: 2vw auto 0 0;
  }
  .event__image img {
    width: 100%;
    height: auto;
  }
  .event__container {
    top: 0;
    left: 7%;
    width: 72%;
    height: 100%;
    padding: 0 11% 0 11%;
  }
  .event__content-title {
    margin-top: 10%;
  }
  .event__content {
    margin-top: 6%;
  }
  .event__button {
    --min-size_mt: 18;
    --max-size_mt: 124;
    --min-viewport: 1400;
    --max-viewport: 1920;
    margin-top: var(--fluid-size_mt);
    
  }

  .fitness__container {
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
  }
.fitness__description {
  width: 100%;
}



}
@media screen and (min-width: 1700px) {
  .special__content--pc-br {
    display: block;
  }
}
@media screen and (min-width: 1920px) {

  .header__char--s {
    display: none;
  }
  .header__char--l {
    display: block;
  }
  .header__search p {
    font-size: 1.6rem;
    margin-top: 8%;
  }


  .tab__wrapper.is-active {
    transform: translateY(-40%);
    }

  .gnavi__list-1,
.gnavi__list-2,
  .gnavi__list-3 {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 88%;
    margin: 2vw auto;
    gap: initial;

  }
  .calendar-container {
    width: 15vw;
  }

  .ticket__children--dropdwon,
  .ticket__adults--dropdown,
  .ticket__duration--dropdown,
  .stay__rooms--dropdown,
  .stay__children--dropdown,
  .stay__adults--dropdown,
  .stay__duration--dropdown {
    width: 11vw;
  }
  li:has(> .dropdown)::after {
    width: 1vw;
    height: 1vw;
    right: 2vw;
    top: 50%;
  }
  .ticket__departure--dropdwon {
    width: 15vw;
    padding-left: 1em;
  }
  .restaurant__site--dropdown {
    width: 15vw;
    padding-left: 1em;
  }
  .restaurant__time--dropdown {
    width: 10vw;
    padding-left: 1em;
  }
  .restaurant__children--dropdown,
  .restaurant__adults--dropdown {
    width: 10vw;
  }
  .tab__search {
    margin-top: 1.3em;
    width: 18vw;
  }
  .search-button {
    /* padding: 0.4em 2em 0.8em; */
    width: 18vw;
  }

  .search-button::before {
    width: 2vw;
    height: 2vw;
  }

  .stay__rooms {
    margin-right: initial;
  }
  .ticket__children {
    margin-right: initial;
  }

  .special__button {
    margin-top: 84px;
  }

  .fitness__flex {
    flex-direction: row-reverse;
  }
  .fitness__gym {
    width: 57%;
    margin-top: 7%;
    margin-left: 6%;
  }
  .fitness__container {
    margin-top: 7%;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
    flex-grow: 1;
  }
  .fitness__description {
    width: 80%;
    margin-top: 8%;
  }
  .fitness__gallery {
    gap: 0 10px;
  left: 13%;
  --min-size_mt: 586;
  --max-size_mt: 749;
  --min-viewport: 1920;
  --max-viewport: 2560;
  top: var(--fluid-size_mt);
  }
  .fitness__pic {
    width: 28%;
  }
  .fitness__button {
    margin-top: 8%;
  }



}