/* || HEADER */
.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  text-align: center;
  position: relative;
}
.header__logo {
  width: 18%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.67);

}
.header__search {
  width: 18%;
  background-color: var(--color-base);
  margin-left: auto;
  position: relative;
  /* margin-right: 0; */

}
.header__search img {
  width: 40%;
  margin-top: 15%;

}
.header__search p {
  color: white;
  /* font-size: clamp(1rem, 2vw, 1.4rem); */
  --min-size: 10;
  --max-size: 14;
  font-size: var(--clamp-size);
  margin-top: 10%;
}

.header__menu {
  width: 18%;
  background-color: var(--color-accent);

}
.header__menu p {
  color: white;
  /* font-size: 1.6rem; */
  /* font-size: clamp(1rem, 2.2vw, 1.6rem); */
  --min-size: 10;
  --max-size: 16;
  font-size: var(--clamp-size);

padding-top: 65%;
text-align: center;
  text-transform: uppercase;
}

.mainvisual {

  padding-top: 152%;
}

.mv-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
width: 100%;
}

.tab__wrapper {
  margin-top: 3vw;
}
.tab li {
  width: 30%;
}
.tab__page {
  /* font-size: clamp(1rem, 2.5vw, 1.8rem); */
  --min-size: 10;
  --max-size: 18;
  font-size: var(--clamp-size);
  color: black;
  padding: 1em ;
}
/* TODO:アイコンで改行させるレスポンシブ */
.tab__page::before {
  transform: translateY(15%);
}
.tab__page--stay {
  text-align: center;
}
.tab__page--stay:before {
  background-image: url('https://api.iconify.design/ri/hotel-line.svg');
  /* transform: translateY(15%); */
}
.tab__page--ticket {
  padding: 1em;
}
.tab__page--ticket:before {
  width: 5rem;
  height: 2rem;
  background-image: url(../img/ticket.svg);
  /* transform: translateY(15%); */
}
.tab__page--restaurant:before {
  background-image: url('https://api.iconify.design/fluent/food-16-filled.svg');
  /* transform: translateY(15%); */
}


.gnavi__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 86%;
  height: 10vw;
  margin: 3vw auto;
  gap: 10px 5%;
  /* font-size: clamp(1rem, 2.5vw, 1.8rem); */
  --min-size: 10;
  --max-size: 18;
  font-size: var(--clamp-size);
}
.gnavi__list li {
  /* height: 80px; */
  transition: all .3s;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
}
.gnavi__list li:focus,
.gnavi__list li:hover {
  opacity: 0.7;
}

.stay__checkin {
  width: 44%;
}
.stay__notdecided {
  width: 15%;
}
.stay__duration {
  width: 31%;
}
.stay__duration select {
  flex-grow: 1;
}
.stay__adults {
  width: 30%;
}
.stay__children {
  width: 30%;
}
.stay__rooms {
  width: 30%;
}
.tab__search {
  margin-top: 1%;
  /* font-size: clamp(1rem, 3vw, 2.2rem); */
  --min-size: 10;
  --max-size: 22;
  font-size: var(--clamp-size);
}
.restaurant__calendar,
.ticket__calendar,
.stay__calendar {
  width: 100%;
  color: white;
  padding: 1.5em 0 1.5em 1.9em;
  background-color: var(--color-accent);
}
.checkbox__container {
  width: 100%;
  background-color: var(--color-accent);
  flex-grow: 1;
  position: relative;
}
.dropdown {
  padding: 1.5em 1em;
}

.ticket__checkin,
.ticket__departure {
  width: 45%;
}
.ticket__departure select {
  flex-grow: 1;
}
.ticket__children,
.ticket__adults,
.ticket__duration {
  width: 30%;
}
.restaurant__date {
  width: 45%;
}
.restaurant__site {
  width: 50%;
}
.restaurant__site select {
flex-grow: 1;
}
.restaurant__children,
.restaurant__adults {
  width: 28%;
}
.restaurant__time {
  width: 34%;
}

.topics__wrapper {
  width: 100%;
  min-height:100vw;
  background-image: url(../img/topic.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 8%;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
}
.topics__title {
  padding-top: 7%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.topics__slider  {
  margin-top: 7%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.topics__grid--3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.topics__card {
  width: 56.8%;
  min-height: 50vh;
  margin-right: 8vw;
  background-color: white;

}




.topics__button {
  margin: 15% auto 5%;
  color: white;
  max-width: 300px;
  /* font-size: clamp(2.4rem, 4vw, 3.6rem); */
  --min-size: 24;
  --max-size: 36;
  font-size: var(--clamp-size);
}

.story__title {
  text-align: left;
  margin-top: 7%;
}
.story__image {
  position: relative;
  width: 93%;
  height: auto;
  margin-top: 7%;
}
.story__container {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-content-bg);
  color: white;
  width: 93%;
  height: 100%;
}
.story__inner {
  margin-top: 16%;
  margin-left: 7%;

}
.story__content {
  margin-top: 4%;
  width: 100%;
  /* font-size: clamp(1rem, 2.7vw, 2rem); */
  --min-size: 10;
  --max-size: 20;
  font-size: var(--clamp-size);
}
.story__buttonWrapper {
  --min-size: 20;
  --max-size: 66;
  margin-top: var(--fluid-size);
}
.story__button {
  margin-left: 0;
  color: white;
  max-width: 300px;

}
.cuisine__wrapper {
  width: 100%;
  padding: 0 6vw;
  margin-top: 9%;
}
.cuisine__title {

}
.cuisine__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw 2%;
  margin-top: 7%;
  /* font-size: clamp(1rem, 2.2vw, 1.6rem); */
  --min-size: 10;
  --max-size: 16;
  font-size: var(--clamp-size);
}
.cuisine__visual {
  width: 49%;
  position: relative;
}
.cuisine__banner {
  position: absolute;
  left: 0;
  bottom: 3%;
  background-color: rgba(255, 255, 255, 0.67);
  min-width: 82%;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  padding: 0 0.3em;
}

.special__wrapper {
  margin-top: 8vw;
  width: 100%;
  background-image: url(../img/Special_bg_sp.webp);
  background-position: top left;
  background-size: 83% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.special__wrapper::before {
  content: "";
  display: block;
  padding-top: 129%;
}
.special__title {
  color: var(--color-base);
  position: absolute;
  top: 0;
  left: 31%;
  /* padding-topは320pxのために少しずらす */
  padding-top: 7%;
}
.special__image {
  width: 88%;
  margin: 6vw 0 0 auto;
  position: absolute;
  top: 16%;
right: 0;
}
.special__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: var(--color-content-bg);
  color: white;
  padding: 0 6%;

}
/* TODO: 文字装飾 */
.special__content-title {
  margin-top: 9%;
  text-align: right;
}
.special__content {
  margin-top: 9%;
  /* font-size: clamp(1rem, 2.7vw, 2rem); */
  --min-size: 10;
  --max-size: 20;
  font-size: var(--clamp-size);
}
.special__button {
  --min-size_mt: 40;
  --max-size_mt: 124;
  margin-top: var(--clamp-size_mt);
margin-right: 1%;
margin-left: auto;
  color: white;
}

#fitness {
  position: relative;
}
.fitness__flex {
  display: flex;
  flex-direction: column;

}
.fitness__container {
  margin-top: 8%;
  text-align: center;
}
.fitness__description {
  width: 70%;
  margin: 6% auto;
  /* font-size: clamp(1rem, 3vw, 2.2rem); */
  --min-size: 10;
  --max-size: 22;
  font-size: var(--clamp-size);
}
.fitness__gym {
  width: 100%;
  margin-top: 6%;
}
.fitness__gallery {
  display: flex;
  justify-content: center;
  gap: 0 2%;
position: absolute;
bottom: -10%;
}
.fitness__pic {
  width: 28%;
}
.fitness__button {
  margin: 0 auto;
  color: black;
  border: 1px solid black;


}



.wedding__wrapper {
  position: relative;
  margin-top: 23vw;
  width: 100%;
}
.wedding__title {
  position: absolute;
  top: 0;
  left: 7%;
  background-color: var(--color-content-bg);
  padding: 3% 2%;
  color: white;
}
.wedding__chapel {
  position: absolute;
  width: 67%;
  bottom: 0;
  right: 0;
}

.event__wrapper {
  margin-top: 10vw;
  width: 100%;
  background-image: url(../img/event_bg_sp.webp);
  background-position: top right;
  background-size: 83%;
  background-repeat: no-repeat;
  position: relative;
}
.event__wrapper::before {
  content: "";
  display: block;
  padding-top: 129%;
}
.event__title {
  color: var(--color-base);
  position: absolute;
  top: 0;
  left: 31%;
    /* padding-topは320pxのために少しずらす */
  padding-top: 7%;
}
.event__image {
  width: 88%;
  margin: 6vw auto 0 0;
  position: absolute;
  top: 16%;
  left: 0;
}
.event__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background-color: var(--color-content-bg);
  color: white;
  padding: 0 7%;

}
/* TODO: 文字装飾 */
.event__content-title {
  margin-top: 18%;
  text-align: left;
}
.event__content {
  margin-top: 9%;
  /* font-size: clamp(1rem, 2.7vw, 2rem); */
  --min-size: 10;
  --max-size: 20;
  font-size: var(--clamp-size);
}
.event__button {
  --min-size_mt: 40;
  --max-size_mt: 124;
  margin-top: var(--clamp-size_mt);
  margin-left: 1%;
  margin-right: auto;
  color: white;

}


.footer__caption {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin: 4% auto;
  /* font-size: clamp(1rem, 2.2vw, 1.6rem); */
  --min-size: 10;
  --max-size: 16;
  font-size: var(--clamp-size);
  text-align: center;
}
.footer__info {
  position: relative;
  padding: 2%;
}
.footer__info::before {
  position: absolute;
  top: 1vw;
  left: 0;
  content: "";
  width: 1px;
  height: 2em;
  background-color: black;
}
.footer__info:last-child::after {
  position: absolute;
  top: 1vw;
  right: 0;
  content: "";
  width: 1px;
  height: 2em;
  background-color: black;
}
.footer__sns {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 4vw auto;
}
.footer__sns a {
  display: block;
  width: clamp(2rem, 6.7vw, 5rem);
  height: clamp(2rem, 6.7vw, 5rem);
}
.footer__facebook {
  background: url('https://api.iconify.design/ri/facebook-fill.svg') no-repeat center center / contain;
}
.footer__instagram {
  background: url('https://api.iconify.design/mdi/instagram.svg') no-repeat center center / contain;
}
.footer__twitter {
  background: url('https://api.iconify.design/mdi/twitter.svg') no-repeat center center / contain;
}
.footer__youtube {
  background: url('https://api.iconify.design/mdi/youtube.svg') no-repeat center center / contain;
}
.footer__last {
  width: 100%;
  background-color: var(--color-main);
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 4vw 10vw 0 4vw;
  margin-top: 9%;
  /* font-size: clamp(1rem, 2.2vw, 1.6rem); */
  --min-size: 10;
  --max-size: 16;
  font-size: var(--clamp-size);
}
.footer__logo {
  width: 36%;
}