/* || HEADER */
.header {
  width: 100%;
height: 100vh;
position: relative;
}
.header__container {
  width: 100%;

  text-align: center;
  /* position: relative; */
}
.header__logo {
  width: 18%;
height: auto;
  background-color: rgba(255, 255, 255, 0.67);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.header__search {
  width: 18%;
  height: 18vw;
  background-color: var(--color-base);
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 18%;
  z-index: 999;
}
.header__search img {
  width: 40%;
  margin-top: 15%;

}
.header__search p {
  color: white;
  --min-size: 10;
  --max-size: 14;
  font-size: var(--clamp-size);
  margin-top: 10%;
} 

.header__lang {
  display: none;
}
.header__char--s {
  display: none;
}

.openbtn {
  background-color: var(--color-accent);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 18%;
  height: 18vw;
}

.openbtn p {
  color: white;
  --min-size: 10;
  --max-size: 16;
  font-size: var(--clamp-size);
padding-top: 65%;
text-align: center;
  text-transform: uppercase;
}

#g-nav {
  overflow-y: scroll;
}

.menu__flex {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin: 20% auto;
  text-align: left;
}

.menu__mainbox {
  display: flex;
  justify-content: space-between;

  --min-size: 12;
  --max-size: 30;
  font-size: var(--clamp-size);
}
.menu__left,
.menu__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.menu__left > li,
.menu__right li {
  display: inline-block;
  width: 100%;
  height: 10vw;
  position: relative;
}
.menu__left a,
.menu__right a {
  color: white;
}
.menu__right {
  margin-left: 16vw;
}
.menu__left > li:not(:last-child)::before,
.menu__right li:not(:last-child)::before {
  position: absolute;
  top: 12vw;
  left: -0.4em;
  display: inline-block;
  width: 34vw;
  height: 1px;
  content: "";
  background-color: white;
}

.menu__cuisinelist {
  --min-size: 10;
  --max-size: 24;
  font-size: var(--clamp-size);
}
.menu__cuisinelist li {
margin-left: 10%;
}
.menu__lang li:before,
.menu__cuisinelist li::before {
  position: relative;
  top: -0.2em;
  left: -0.6em;
   display: inline-block;
   width: 0.2em;
  height: 0.2em;
   content: '';
   border-radius: 100%;
  background-color: white;
}
/* TODO: タブ移動でフォーカス tabindex */
.menu__others {

}
.menu__button {
  display: flex;
  justify-content: space-between;
  gap: 0 5vw;
  margin-top: 10%;
  --min-size: 10;
  --max-size: 24;
  font-size: var(--clamp-size);
}
.menu__lang {
  display: flex;
  justify-content: flex-end;
  gap: 0 5vw;
  margin-top: 5%;
  --min-size: 10;
  --max-size: 22;
  font-size: var(--clamp-size);

}
.menu__lang a {
  color: white;
}
.menu__reservationButton, 
.menu__cancelButton {
  padding: 1em 10px;
  width: 40vw;
  --min-size: 10;
  --max-size: 24;
  font-size: var(--clamp-size);
}

.menu__cancelButton {
  background-color: white;
  color: black;
}
.menu__cancelButton:focus,
.menu__cancelButton:hover {
  background-color: var(--color-accent);
  border-color: currentColor;
  color: white;
}


#slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* overflow-x:hidden */
}

.mainvisual {
  width: 100%;
  padding-top: 100vh;
}

.mainvisual__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
height: 100vh;
opacity: 0;
object-fit: cover;
animation: change-img-anim 12s infinite;
}
.mainvisual__slide--1 {
  animation: change-img-anim-first 12s infinite;
  animation-delay: 0s;
}
.mainvisual__slide--2 {
  animation-delay: 3s;
}
.mainvisual__slide--3 {
  animation-delay: 6s;
}
.mainvisual__slide--4 {
  animation-delay: 9s;
}
@keyframes change-img-anim-first {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  36% {
    opacity: 1;
  }
  45% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}
@keyframes change-img-anim {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  36% {
    opacity: 1;
  }
  45% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}

/*　上に上がる動き　*/
.main-start {
position: relative;
z-index: 999;
}
.tab__wrapper {
  position: fixed;
  width: 100%;
  z-index: 999;
  left: 0;
  --min-size_h: -20;
  --max-size_h: 16;
  top: calc(100vh - 4.3em - var(--fluid-size_h));

}


.main-start.UpMove{
  pointer-events: all;
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
    --min-size_h: -20;
    --max-size_h: 16;
    top: calc(100vh - 4.3em - var(--fluid-size_h) - 100px);
  }
  to {
    opacity: 1;
    --min-size_h: -20;
    --max-size_h: 16;
    top: calc(100vh - 4.3em - var(--fluid-size_h));
  }
}

/*　下に下がる動き　*/

.main-start.DownMove{
  pointer-events: none;
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
    --min-size_h: -20;
    --max-size_h: 16;
    top: calc(100vh - 4.3em - var(--fluid-size_h));
  }
  to {
  	opacity: 0;
    --min-size_h: -20;
    --max-size_h: 16;
    top: calc(100vh - 4.3em - var(--fluid-size_h) + 100px);
  }
}



.tab__wrapper {
  /* margin-top: 3vw; */
  background-color: transparent;
  width: 100%;
  transition: transform 0.5s;
}
/* .tab__wrapper::after {
  content: "";
  display: block;
  padding-top: 50%;
} */
.tab__wrapper.is-active {

transform: translateY(-75%);
}


.tab li {
  width: 30%;
  background-color: white;
}
.tab__page {
  /* font-size: clamp(1rem, 2.5vw, 1.8rem); */
  --min-size: 10;
  --max-size: 18;
  font-size: var(--clamp-size);
  color: black;
  padding: 1em ;
  line-height: 2.6em;
}
.tab__page::before {
  transform: translateY(30%);
}
.tab__page--stay {
  text-align: center;
}
.tab__page--stay:before {
  background-image: url('https://api.iconify.design/ri/hotel-line.svg');
  /* transform: translateY(15%); */
}
.tab__page--ticket {
  padding: 1em;
}
.tab__page--ticket:before {
  width: 5rem;
  height: 2rem;
  background-image: url(../img/ticket.svg);
  /* transform: translateY(15%); */
}
.tab__page--restaurant:before {
  background-image: url('https://api.iconify.design/fluent/food-16-filled.svg');
  /* transform: translateY(15%); */
}
.tab li:not(.active):hover {
  background-color: var(--color-base);



}


.gnavi__list-1,
.gnavi__list-2,
.gnavi__list-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 86%;
  /* height: 10vw; */
  margin: 0 auto;
  gap: 1em 5%;
  /* font-size: clamp(1rem, 2.5vw, 1.8rem); */
  --min-size: 10;
  --max-size: 18;
  font-size: var(--clamp-size);
}
.gnavi__items {
  /* height: 80px; */
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
}
.gnavi__items:focus,
.gnavi__items:hover {
  opacity: 0.7;
}

.stay__checkin {
  width: 44%;
}
.stay__notdecided {
  width: 15%;
}
.stay__duration {
  width: 31%;
}
.stay__duration select {
  flex-grow: 1;
}
.stay__adults {
  width: 30%;
}
.stay__children {
  width: 30%;
}
.stay__rooms {
  width: 30%;
}
.tab__search {
  margin-top: 1%;
  /* font-size: clamp(1rem, 3vw, 2.2rem); */
  --min-size: 10;
  --max-size: 22;
  font-size: var(--clamp-size);
}
.restaurant__calendar,
.ticket__calendar,
.stay__calendar {
  width: 38.5vw;
  height: 12.8vw;
  color: white;
  /* padding: 1.5em 0.1em 1.5em 1.9em; */
  padding: 1.56vw 0.1vw 1.56vw 1.98vw;
  background-color: var(--color-accent);
  display: block;
  flex-grow: 1;
}
.checkbox__container {
  width: 100%;
  background-color: var(--color-accent);
  flex-grow: 1;
  position: relative;
}
.dropdown {
  padding: 1.5em 1em;
}

.ticket__checkin,
.ticket__departure {
  width: 45%;
}
.ticket__departure select {
  flex-grow: 1;
}
.ticket__children,
.ticket__adults,
.ticket__duration {
  width: 30%;
}
.restaurant__date {
  width: 45%;
}
.restaurant__site {
  width: 50%;
}
.restaurant__site select {
flex-grow: 1;
}
.restaurant__children,
.restaurant__adults {
  width: 28%;
}
.restaurant__time {
  width: 34%;
}

.topics__wrapper {
  width: 100%;
  min-height: 90vw;
  background-image: url(../img/topic.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 8%;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
}
.topics__title {
  padding-top: 7%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.topics__slider  {
  margin-top: 7%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: 15vw;
}
.topics__grid--3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.topics__card {
  width: 56.8%;
  min-height: 50vh;
  margin-right: 8vw;
  background-color: white;

}
.topics__button {
  margin: 0 auto 11%;
  color: white;
  --min-size_mt: 70;
  --max-size_mt: 143;
  margin-top: var(--fluid-size_mt);
}

.flickity-page-dots{
  --min-size_mt: -34;
  --max-size_mt: -80;
  bottom: var(--fluid-size_mt);
  left: -8vw;
}


.gridanimeTrigger {
  opacity: 0;
}
.gridhide {
  opacity: 1;
}


.story__title {
  text-align: left;
  margin-top: 7%;

}

.story__image {
  position: relative;
  width: 93%;
  height: auto;
  margin-top: 7%;
  overflow-x:hidden
}
.story__box {
  --box-width: 93vw;
  --box-height: 78.5vw;
  --frag-width: calc(var(--box-width) / var(--col));
  --frag-height: calc(var(--box-height) / var(--row));
  --img-url: url(../img/story_sp.webp);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: var(--box-width);
  height: var(--box-height);
  position: relative;
  object-fit: cover;
}


.story__container {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-content-bg);
  color: white;
  width: 93%;
  height: 100%;

}
.animeStoryTrigger {
  opacity: 0;
  animation-delay: 4s;
}
.story__inner {
  margin-top: 16%;
  margin-left: 7%;
  
}

.story__content {
  margin-top: 4%;
  width: 100%;
  /* font-size: clamp(1rem, 2.7vw, 2rem); */
  --min-size: 10;
  --max-size: 20;
  font-size: var(--clamp-size);
}
.story__title--blur {
  opacity: 0;
  animation-delay: 6s;
}

.story__content--fadeIn {
  animation-delay: 6.5s;
  opacity: 0;
}
.story__content span {
  display: block;
}
.story__buttonWrapper {
  --min-size: 20;
  --max-size: 66;
  margin-top: var(--fluid-size);

}
.story__button {
  margin-left: 0;
  color: white;
  max-width: 300px;
  opacity: 0;
  animation-delay: 6s;
}
.story__button::hover {
  color: var(--color-base);
}
.cuisine__wrapper {
  width: 100%;
  padding: 0 6vw;
  margin-top: 9%;
}
.cuisine__title {

}
.cuisine__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw 2%;
  margin-top: 7%;
  --min-size: 10;
  --max-size: 16;
  font-size: var(--clamp-size);
}

/* .cuisine__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 84vw;
max-height: 64vw;
  justify-content: space-between;
  transition: .35s linear;
} */

.cuisine__visual {
  width: 49%;
  position: relative;
  background-color: red;
/* justify-items: stretch; */
/* flex-grow: 1; */
}
.cuisine__banner {
  position: absolute;
  left: 0;
  bottom: 3%;
  background-color: rgba(255, 255, 255, 0.65);
  min-width: 82%;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  padding: 0 0.3em;
}
.cuisine__visual > img {
/* width: 28vw; */

  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);

}
.cuisine__visual > img:hover {
  filter: grayscale(0);


}
/* .cuisine__grid:has(.cuisine_visual--ad:hover) {
  grid-template-columns: 1.2fr 0.9fr 0.9fr;
  grid-template-rows: 0.8fr 0.2fr;
} */

.special__wrapper {
  margin-top: 8vw;
  width: 100%;
  background-image: url(../img/Special_bg_sp.webp);
  background-position: top left;
  background-size: 83% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow-x:hidden
}
.special__wrapper::before {
  content: "";
  display: block;
  padding-top: 129%;
}
.special__title {
  color: var(--color-base);
  position: absolute;
  top: 0;
  left: 31%;
  /* padding-topは320pxのために少しずらす */
  padding-top: 7%;
}
.special__image {
  width: 88%;
  margin: 6vw 0 0 auto;
  position: absolute;
  top: 16%;
right: 0;
}
.special__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: var(--color-content-bg);
  color: white;
  padding: 0 6%;

}
/* TODO: 文字装飾 */
.special__content-title {
  margin-top: 9%;
  text-align: right;
}
.special__content {
  margin-top: 9%;
  /* font-size: clamp(1rem, 2.7vw, 2rem); */
  --min-size: 10;
  --max-size: 20;
  font-size: var(--clamp-size);
}
.special__button {
  --min-size_mt: 40;
  --max-size_mt: 124;
  margin-top: var(--clamp-size_mt);
margin-right: 1%;
margin-left: auto;
  color: white;
}

#fitness {
  position: relative;
}
.fitness__flex {
  display: flex;
  flex-direction: column;
  overflow-x:hidden
}
.fitness__container {
  margin-top: 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.fitness__description {
  width: 70%;
  margin: 6% auto 0;
  /* font-size: clamp(1rem, 3vw, 2.2rem); */
  --min-size: 10;
  --max-size: 22;
  font-size: var(--clamp-size);
}
.fitness__gym {
  width: 100%;
  margin-top: 6%;
}
.fitness__gallery {
  display: flex;
  justify-content: center;
  gap: 0 2%;
position: absolute;
bottom: -10%;
}
.fitness__pic {
  width: 28%;
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.7);
}
.fitness__button {
  margin: 6% auto 0;
  color: black;
  border: 1px solid black;


}



.wedding__wrapper {
  position: relative;
  margin-top: 23vw;
  width: 100%;

}
.wedding__title {
  position: absolute;
  top: 0;
  left: 7%;
  background-color: var(--color-content-bg);
  padding: 3% 2%;
  color: white;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.wedding__chapel {
  position: absolute;
  width: 67%;
  bottom: 0;
  right: 0;
  box-shadow: -4px -4px 5px 0px rgba(255, 255, 255, 0.7);
  transform-origin: bottom right;
  transition: scale 0.5s;
}
.wedding__chapel:hover {
  scale: 1.1;
}
.event__wrapper {
  margin-top: 10vw;
  width: 100%;
  background-image: url(../img/event_bg_sp.webp);
  background-position: top right;
  background-size: 83%;
  background-repeat: no-repeat;
  position: relative;
  overflow-x:hidden
}
.event__wrapper::before {
  content: "";
  display: block;
  padding-top: 129%;
}
.event__title {
  color: var(--color-base);
  position: absolute;
  top: 0;
  left: 31%;
    /* padding-topは320pxのために少しずらす */
  padding-top: 7%;
}
.event__image {
  width: 88%;
  margin: 6vw auto 0 0;
  position: absolute;
  top: 16%;
  left: 0;
}
.event__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background-color: var(--color-content-bg);
  color: white;
  padding: 0 7%;

}
/* TODO: 文字装飾 */
.event__content-title {
  margin-top: 18%;
  text-align: left;
}
.event__content {
  margin-top: 9%;
  /* font-size: clamp(1rem, 2.7vw, 2rem); */
  --min-size: 10;
  --max-size: 20;
  font-size: var(--clamp-size);
}
.event__button {
  --min-size_mt: 40;
  --max-size_mt: 124;
  margin-top: var(--clamp-size_mt);
  margin-left: 1%;
  margin-right: auto;
  color: white;

}


.footer__caption {
  display: flex;
  justify-content: space-between;

  width: 78%;
  margin: 4% auto;
  /* font-size: clamp(1rem, 2.2vw, 1.6rem); */
  --min-size: 10;
  --max-size: 16;
  font-size: var(--clamp-size);
  text-align: center;
}
.footer__info {
  position: relative;
  padding: 2%;
}
.footer__info::before {
  position: absolute;
  top: 1vw;
  left: 0;
  content: "";
  width: 1px;
  height: 2em;
  background-color: black;
}
.footer__info:last-child::after {
  position: absolute;
  top: 1vw;
  right: 0;
  content: "";
  width: 1px;
  height: 2em;
  background-color: black;
}
.footer__sns {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 4vw auto;
}
.footer__sns a {
  display: block;
  width: clamp(2rem, 6.7vw, 5rem);
  height: clamp(2rem, 6.7vw, 5rem);
}
.footer__facebook {
  background: url('https://api.iconify.design/ri/facebook-fill.svg') no-repeat center center / contain;
}
.footer__instagram {
  background: url('https://api.iconify.design/mdi/instagram.svg') no-repeat center center / contain;
}
.footer__twitter {
  background: url('https://api.iconify.design/mdi/twitter.svg') no-repeat center center / contain;
}
.footer__youtube {
  background: url('https://api.iconify.design/mdi/youtube.svg') no-repeat center center / contain;
}
.footer__last {
  width: 100%;
  background-color: var(--color-main);
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 4vw 10vw 0 4vw;
  margin-top: 9%;
  /* font-size: clamp(1rem, 2.2vw, 1.6rem); */
  --min-size: 10;
  --max-size: 16;
  font-size: var(--clamp-size);
}
.footer__logo {
  width: 36%;
}